:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  /* */
  --secondary-color: #757575;
  /* */
  --accent-color: #2196f3;
  /* color pri navedenii*/
  --bd-color-pri: #ffffff;
  /* bagcround color priority*/
  --bd-color-sec: #2f303a;
  /* bagcround color secondary*/
  --section-pt: 94px;
  /* padding top for sect*/
  --section-pb: 94px;
  /* padding bot for sect*/
  --main-anim: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*animation default */
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-head {
  color: #212121;
}

.logo-fut {
  color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .about {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 32px;
  background-color: #2196f3;
  min-width: 200;
  border-radius: 4px;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social-list {
  display: flex;
  align-items: center;
}

.team-list-content-wrapper .social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 580px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-but {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.close-icon {
  width: 30px;
  height: 30px;
}

.modal-close-but .close-icon:hover,
.modal-close-but .close-icon:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .modal {
    min-width: 450px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.form-head {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-field {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input-wrapper {
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 122px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font: var(--main-font);
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-check-desc {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.modal-form-check-desc::before {
  content: "";
  margin-right: 8px;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url(../images/galka.svg);
  background-position: center;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  border: var(--accent-color);
}

.modal-form-btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 55px;
  background-color: #2196f3;
  min-width: 200;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 767px) {
  .modal-form-check-desc {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
}

.main {
  background-color: var(--bd-color-pri);
}

.header {
  background-color: var(--bd-color-pri);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .kontact-list {
    display: none;
  }
  .burger-btn {
    width: 40px;
    height: 40px;
  }
  .burger-icon {
    width: 24px;
    height: 16px;
  }
  .burger-icon:hover, .burger-icon:focus {
    fill: var(--accent-color);
  }
  .burger-btn,
  .mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
  }
  .mobile-menu-close-icon {
    width: 18px;
    height: 18px;
  }
  .mobile-menu-close-btn .mobile-menu-close-icon:hover,
  .mobile-menu-close-btn .mobile-menu-close-icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    transform: translateY(-100%) translateX(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open {
    transform: translateY(0) translateX(-50%);
  }
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.accent-mobile {
  color: var(--accent-color);
}

.mobile-menu-kontakt {
  margin-top: 302px;
}

.mobile-menu-kontakt__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-kontakt__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-kontakt__link_size-color {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-social {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.mobile-menu-social__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu-social__item:not(:last-child)::after {
  margin-left: 10px;
  content: "";
  height: 0px;
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header {
    background-color: #ffffff;
    padding-top: 21px;
    padding-bottom: 21px;
    border: 1px solid #ececec;
  }
  .header .logo {
    margin-right: 88px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
  }
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list__link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: var(--main-anim);
  }
  .navigation-list__link:hover, .navigation-list__link:focus {
    color: var(--accent-color);
  }
  .accent::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    margin-top: 28px;
    border-radius: 2px;
  }
  .kontact-list__item {
    flex-wrap: nowrap;
    display: flex;
  }
  .kontact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .kontact-list__icon {
    width: auto;
    height: auto;
    margin-right: 10px;
    fill: var(--secondary-color);
  }
  .kontact-list__link:hover .kontact-list__icon,
  .kontact-list__link:focus .kontact-list__icon {
    fill: var(--accent-color);
  }
  .kontact-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: var(--main-anim);
  }
  .kontact-list__link:hover, .kontact-list__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./img/heromob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
  }
}

.hero-title {
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features-list__head {
    text-align: center;
  }
  .features-list__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 120px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
  }
  .features-list__icon {
    height: 70px;
    width: 70px;
  }
  .features-list__head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
  .features-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    padding-top: 10px;
  }
}

.about {
  padding-bottom: var(--section-pb);
}

.title-about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.about-list__head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .team {
    background-color: #f5f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .title-team {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 30px;
  }
  .team-list__item {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team-list__img {
    width: 100%;
  }
  .team-list-content-wrapper {
    padding-bottom: 24px;
  }
  .team-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .person-rol {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}

@media screen and (max-width: 767px) {
  .reg-cust {
    background-color: var(--bd-color-pri);
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .title-cust {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 30px;
  }
  .cust-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .cust-list :nth-child(2n) {
    margin-left: 30px;
  }
  .cust-list__item {
    flex-basis: calc(100% / 2 - 30px);
    width: 240px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .cust-list__item:hover, .cust-list__item:focus {
    border-color: var(--accent-color);
  }
  .cust-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .cust-list__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .cust-list__link:hover .cust-list__icon,
  .cust-list__link:focus .cust-list__icon {
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: var(--bd-color-sec);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .com-blok {
    text-align: center;
  }
  .footer-adress-list {
    text-align: center;
    margin-top: 20px;
  }
  .footer-adress-list__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer-adress-list__place {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-adress-list__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .fut-social {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .fut-social__head {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .fut-social-list {
    justify-content: center;
    padding-top: 20px;
  }
  .fut-social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .fut-social-list-icon {
    fill: #ffffff;
  }
  .fut-form-blok {
    text-align: center;
  }
  .hed-fut-form {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .fut-form-input {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 4px;
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .fut-form-btn {
    display: flex;
    align-items: center;
    margin: auto;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 28px;
    color: #ffffff;
    background-color: #2196f3;
    min-width: 200px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .fut-form-icon {
    margin-left: 10px;
    fill: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .filter-list__item:nth-child(4) {
    margin-top: 15px;
  }
  .filter-list__item:nth-child(5) {
    margin-top: 15px;
  }
  .filter-list__item:not(:last-child) {
    margin-right: 8px;
  }
  .filter-list__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-color);
    background-color: #f5f4fa;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .filter-list__btn:hover, .filter-list__btn:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (max-width: 767px) {
  .work-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .work-list__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .work-list__img-overlay {
    position: relative;
    overflow: hidden;
  }
  .work-list__overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-align: left;
    height: 100%;
    padding: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .work-list__link:hover .work-list__overlay,
  .work-list__link:focus .work-list__overlay {
    transform: translateY(0%);
  }
  .work-list__img {
    width: 100%;
  }
  .work-list__content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #eeeeee;
    text-align: left;
  }
  .work-list__work-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
  }
  .work-list__work-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}
/*# sourceMappingURL=main.css.map */