:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121; /* */
  --secondary-color: #757575; /* */
  --accent-color: #2196f3; /* color pri navedenii*/
  --bd-color-pri: #ffffff; /* bagcround color priority*/
  --bd-color-sec: #2f303a; /* bagcround color secondary*/
  --section-pt: 94px; /* padding top for sect*/
  --section-pb: 94px; /* padding bot for sect*/
  --main-anim: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*animation default */
}
/* дефолт настр */
body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* енд дефолт наст */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
/* задавало отступи для секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ===================================== COMPONENTS ========================= */

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
  padding: 10px 32px;
  background-color: #2196f3;
  min-width: 200;
  border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* .vibor-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
} */

/* ========= SOCIAL LIST========== */
.social-list {
  display: flex;
  align-items: center;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========= END SOCIAL LIST========== */

/* =============================== END COMPONENTS ===================== */

/* =============================== HEADER =============================== */
.main {
  background-color: var(--bd-color-pri);
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.logo-head {
  color: #212121;
}

.logo-fut {
  color: #ffffff;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-link {
  display: inline-block;
  position: relative;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition: var(--main-anim);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.foc::after {
  display: block;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  margin-top: 28px;
  border-radius: 2px;
}

.kontact {
  display: flex;
  align-items: center;
  padding-left: 305px;
}

/* .nav-kontakt-item {
  display: flex;
} */

.nav-kontakt-item:not(:last-child) {
  margin-right: 30px;
}

.kontact-link {
  transition: var(--main-anim);
}

.nav-icon {
  width: auto;
  height: auto;
  padding-right: 10px;
  fill: var(--secondary-color);
}

.kontact-link:hover .nav-icon,
.kontact-link:focus .nav-icon {
  fill: var(--accent-color);
}

.kontact-link:hover,
.kontact-link:focus {
  color: var(--accent-color);
}

.kontact-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

/* ================================ END HEADER ====================== */

/* ============================= HERO ======================== */
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./img/herophoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 40px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* =================================== END HERO =================== */
/* ==================================== osobenosti ============= */

.features {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  background-color: var(--bd-color-pri);
}

.features-logo-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
}

.feat-icon {
  height: 70px;
  width: 70px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.features-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
}

.features-zago {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-top: 10px;
}
/* ===============================  end osobenosti =================== */
/* ===============================chem zanimaemsia ===================*/
.about {
  padding-bottom: var(--section-pb);
}

.chemzan-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.title-chemzan {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-bottom: 50px;
}

.chemzan-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}
.text-about {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 70px;
}

/*  ===========================end chem zanimaemsia ===================*/

/* ================================ KOMANDA =========================== */
.team {
  background-color: #f5f4fa;
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-list-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-bottom: 10px;
}

.person-rol {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.team-list-content-wrapper .social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
/* =========================END KOMANDA============================= */
/* =======================postoyan klienty============================== */
.reg-cust {
  background-color: var(--bd-color-pri);
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.title-cust {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.cust-list-element:hover,
.cust-list-element:focus {
  border-color: var(--accent-color);
}

.cust-list-element:hover .cust-icon,
.cust-list-element:focus .cust-icon {
  fill: var(--accent-color);
}

/* .cust-icon {
  width: 20px;
  height: 20px;
} */
.cust-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

.cust-list-item {
  margin-left: 30px;
}
.cust-list-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 6 - 30px);

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cust-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========================end post klient======================== */

/* ============================= FUTER ========================= */

.footer {
  background-color: var(--bd-color-sec);
  padding-top: 60px;
  padding-bottom: 55px;
}

.footer .container {
  text-align: left;
}
.fut-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
}

.footer .logo {
  margin-right: -93px;
  margin-bottom: 20px;
}

.footer-list {
  margin-top: 20px;
}

.footer-elements:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-comun {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.fut-social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 70px;
}
.fut-soc-head {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--bd-color-pri);
}

.fut-social-list {
  padding-top: 20px;
}
.fut-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.fut-social-list-icon {
  fill: #ffffff;
}

.fut-form-blok {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 93px;
}

.hed-fut-form {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.fut-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.fut-form-field {
  margin-right: 12px;
}

/* .fut-form-input-wrapper {
} */

.fut-form-input {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fut-form-btn {
  display: flex;
  align-items: center;
  align-self: center;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  padding: 10px 28px;
  color: #ffffff;
  background-color: #2196f3;
  width: 200;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.fut-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}
/* ============================ END FUTER ========================= */

/* =============================modal okno=======================================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 580px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.modal-close-but {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
}

.modal-close-but:hover,
.modal-close-but:focus {
  fill: var(--accent-color);
}

.close-icon {
  width: 30px;
  height: 30px;
}

.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.form-head {
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-field {
  margin-top: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input-wrapper {
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 122px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font: var(--main-font);
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-check-desc {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.modal-form-check-desc::before {
  content: "";
  margin-right: 8px;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url(../images/galka.svg);
  background-position: center;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  border: var(--accent-color);
}

.modal-form-btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
  padding: 10px 55px;

  background-color: #2196f3;
  min-width: 200;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
}

/* =================================modal okno=======================================*/

/*  ============================= PORTFOLIO PAGE CSS ======================= */
/*  ============================= PORTFOLIO PAGE CSS ======================= */
/*  ============================= PORTFOLIO PAGE CSS ======================= */
/*  ============================= PORTFOLIO PAGE CSS ======================= */

/* ============================== FILTER =========================== */
.portfolio {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ================================END FILTER =============================== */
/* ================================== PODELKI ============================== */
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-list-content-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #eeeeee;
  text-align: left;
}

.projects-elm {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects-elm:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-overlay-tog {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
  height: 100%;

  padding: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  /* overflow: scroll; */
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-elm-link:hover .overlay,
.projects-elm-link:focus .overlay {
  transform: translateY(0%);
}

.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
