.title-team {
  text-align: center;
}
//=======================MOBIL====================//
@media screen and (max-width: 767px) {
  .team {
    background-color: #f5f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .title-team {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 30px;
  }

  .team-list__item {
    text-align: center;
    background-color: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .team-list__img {
    width: 100%;
  }

  .team-list-content-wrapper {
    padding-bottom: 24px;
  }

  .team-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);

    margin-top: 30px;
    margin-bottom: 10px;
  }
  .person-rol {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}
//=====================TAB=======================//
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    background-color: #f5f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title-team {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);

    margin-bottom: 30px;
    text-align: center;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
  }

  .team-list-content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;
  }

  .team-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);

    margin-bottom: 10px;
  }

  .person-rol {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}
//========================DESK========================//
@media screen and (min-width: 1200px) {
  .team {
    background-color: #f5f4fa;
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
  }

  .title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);

    margin-bottom: 50px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
  }

  .team-list-content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;
  }

  .team-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);

    margin-bottom: 10px;
  }

  .person-rol {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}
