:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121; /* */
  --secondary-color: #757575; /* */
  --accent-color: #2196f3; /* color pri navedenii*/
  --bd-color-pri: #ffffff; /* bagcround color priority*/
  --bd-color-sec: #2f303a; /* bagcround color secondary*/
  --section-pt: 94px; /* padding top for sect*/
  --section-pb: 94px; /* padding bot for sect*/
  --main-anim: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*animation default */
}
